# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Optional REPL history
.node_repl_history

# Distribution directory
dist/
wordpress/
